<div class="tab">
    <button class="tablinks" (click)="showForm('form2')">Adaugare pacient</button>
    <button class="tablinks" (click)="showForm('form3')">Adaugare comanda</button>
    <button class="tablinks" (click)="showForm('form4')">Lista de pacienti</button>
    <button class="tablinks" (click)="showForm('form5')">Comenzi</button> 
  </div>

<form [formGroup]="contactformPacienti" class="formAddPacient" *ngIf="showForm2">
    <div class="titlu">
      Va rugam completati datele urmatoare:
    </div>
    <div class="test">
      <div>
        <label>Nume: </label>
      </div>
     <div class="test2">
      <input type="text" formControlName="nume">
     </div>
    </div>

    <div class="test">
      <div>
        <label>Prenume: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="prenume">
      </div>
    </div>

    <div class="test">
      <div>
        <label>Varsta: </label>
      </div>
      <div class="test2">
        <input type="number" formControlName="varsta">
      </div>
    </div>

    <div class="test">
      <div>
        <label>CNP: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="cnp">
      </div>
    </div>

    <div class="test">
      <div>
        <label>Adresa: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="adresa">
      </div>  
    </div>

    <div class="test">
        <div>
          <label>Adresa de email: </label>
        </div>
        <div class="test2">
          <input type="email" formControlName="email">
        </div>   
      </div>

      <div class="test">
        <div>
          <label>Numar de telefon: </label>
        </div>
        <div class="test2">
          <input type="text" formControlName="numarDeTelefon">
        </div>   
      </div>

    <div class="test">
      <div>
        <label>Profesie: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="profesie">
      </div>    
    </div>

    <div class="test">
      <div>
        <label>Loc de munca: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="locDeMunca">
      </div>    
    </div>


    <button type="reset" [disabled]="contactformPacienti.invalid" class="button" (click)="submitAddPacient(contactformPacienti.value)">Submit</button>
    <p *ngIf="isSubmit" class="submitPacient" >{{ submitMessage }}</p>
  </form>

  <form  [formGroup]="contactFormOrders" class="FormAddTratment" *ngIf="showForm3">
    <div class="titlu">
      Va rugam completati datele urmatoare:
    </div>
    <div class="test">
      <div>
        <label>Nume pacient: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="patientLastName">
      </div>  
      </div>
      <div class="test">
        <div>
          <label>Prenume pacient: </label>
        </div>
        <div class="test2">
          <input type="text" formControlName="patientFirstName">
        </div>  
    </div>
    <div class="test">
      <div>
        <label>Nume medicament: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="medicine">
      </div>   
    </div>

    <div class="test">
      <div>
        <label>Id: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="id"> 
      </div>
    </div>

    <div class="test">
      <div>
        <label>Status:</label>
      </div>
      <div class="test2">
        <input type="text" formControlName="isOrderFinished">
      </div> 
  </div>
    <div class="test">
      <div>
        <label>Codul patului: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="bedNumber">
      </div>     
    </div>
    <!-- <div class="test">
      <label for="com">Comanda directa: </label>
      <input type="checkbox" formControlName="comanda">
    </div> -->
    <button type="reset" [disabled]="contactFormOrders.invalid" class="button" (click)="submitAddOrders(contactFormOrders.value)">Submit</button>
    <p *ngIf="isSubmit" class="submitTratament" >{{ submitMessage }}</p>
  </form>

  <form *ngIf="showForm4" class="showPatients">
    <ul *ngFor="let data of userData |async">
      <form  class="showMed">
          <div class="pacienti">
          <!-- <p>Nume si prenume: {{ data.nume }}  {{ data.prenume }} </p>
          <p>Varsta: {{ data.varsta }} </p>
          <p>CNP: {{ data.cnp }}</p>
          <p>Adresa: {{ data.adresa }}</p>
          <p>Numar de contact: {{ data.numarDeTelefon }}</p>
          <p>Adresa de email: {{ data.email }}</p>
          <p>Profesie: {{data.profesie }}</p>
          <p>Loc de munca: {{data.locDeMunca }}</p> -->
          <div class="titlu">
            Va rugam completati datele urmatoare:
          </div>
          <div class="test">
            <div>
              <label>Nume: </label>
            </div>
           <div class="test2">
            <input type="text" [readonly]="isReadOnly" [value]="data.nume" name="nume" [(ngModel)]="data.nume">
           </div>
          </div>
      
          <div class="test">
            <div>
              <label>Prenume: </label>
            </div>
            <div class="test2">
              <input type="text" [readonly]="isReadOnly" [value]="data.prenume"  name="prenume" [(ngModel)]="data.prenume">
            </div>
          </div>
      
          <div class="test">
            <div>
              <label>Varsta: </label>
            </div>
            <div class="test2">
              <input type="number"[readonly]="isReadOnly" [value]="data.varsta" name="varsta" [(ngModel)]="data.varsta">
            </div>
          </div>
      
          <div class="test">
            <div>
              <label name="cnpLabel">CNP: </label>
            </div>
            <div class="test2">
              <input type="text"[readonly]="isReadOnly"[value]="data.cnp" name="cnp" [(ngModel)]="data.cnp">
            </div>
          </div>
      
          <div class="test">
            <div>
              <label>Adresa: </label>
            </div>
            <div class="test2">
              <input type="text" [readonly]="isReadOnly" [value]="data.adresa" name="adresa" [(ngModel)]="data.adresa">
            </div>  
          </div>
      
          <div class="test">
              <div>
                <label>Adresa de email: </label>
              </div>
              <div class="test2">
                <input type="email" [readonly]="isReadOnly"[value]="data.email" name="email" [(ngModel)]="data.email">
              </div>   
            </div>
      
            <div class="test">
              <div>
                <label>Numar de telefon: </label>
              </div>
              <div class="test2">
                <input type="text" [readonly]="isReadOnly"[value]="data.numarDeTelefon" name="numarDeTelefon" [(ngModel)]="data.numarDeTelefon" >
              </div>   
            </div>
      
          <div class="test">
            <div>
              <label>Profesie: </label>
            </div>
            <div class="test2">
              <input type="text" [readonly]="isReadOnly" [value]="data.profesie" name="profesie" [(ngModel)]="data.profesie">
            </div>    
          </div>
      
          <div class="test">
            <div>
              <label>Loc de munca: </label>
            </div>
            <div class="test2">
              <input type="text" [readonly]="isReadOnly" [value]="data.locDeMunca" name="locDeMunca" [(ngModel)]="data.locDeMunca">
            </div>    
          </div>
           </div>
           <button type="button" class="button" *ngIf="showButton" (click)="updatePacienti(data.id, data)">Salvare</button>
           <button type="button" class="button" *ngIf="showButton2" (click)="updateFirstStep()">Editare</button>
           <button type="button" class="stergere" *ngIf="showButton2" (click)="deletePacienti(data.id)">Stergere</button>
      </form>
  </ul>
  </form>

<form *ngIf="showForm5" class="showOrders">
    <ul *ngFor="let data of ordersData |async">
      <form class="showord">
          <div class="orders">
            <div class="titlu">
              Va rugam completati datele urmatoare:
            </div>
            <div class="test">
              <div>
                <label>Nume pacient: </label>
              </div>
              <div class="test2">
                <input type="text" [readOnly]="isReadOnly" [value]="data.patientLastName" name="patientLastName" [(ngModel)]="data.patientLastName">
              </div>  
              </div>
              <div class="test">
                <div>
                  <label>Prenume pacient: </label>
                </div>
                <div class="test2">
                  <input type="text" [readOnly]="isReadOnly" [value]="data.patientFirstName" name="patientFirstName" [(ngModel)]="data.patientFirstName">
                </div>  
            </div>
            <div class="test">
              <div>
                <label>Nume medicament: </label>
              </div>
              <div class="test2">
                <input type="text" [readOnly]="isReadOnly" [value]="data.medicine" name="medicine" [(ngModel)]="data.medicine">
              </div>   
            </div>
        
            <div class="test">
              <div>
                <label>Id: </label>
              </div>
              <div class="test2">
                <input type="text" [readOnly]="isReadOnly" [value]="data.id" name="id" [(ngModel)]="data.id"> 
              </div>
            </div>
        
            <div class="test">
              <div>
                <label>Status:</label>
              </div>
              <div class="test2">
                <input type="text" readOnly [value]="data.isOrderFinished">
              </div> 
          </div>
            <div class="test">
              <div>
                <label>Codul patului: </label>
              </div>
              <div class="test2">
                <input type="text" [readOnly]="isReadOnly" [value]="data.bedNumber" name="bedNumber" [(ngModel)]="data.bedNumber">
              </div>     
            </div>
           </div>
           <button type="button" class="button" *ngIf="showButton" (click)="updateOrders(data.id, data)">Salvare</button>
           <button type="button" class="button" *ngIf="showButton2" (click)="updateFirstStep()">Editare</button>
           <button type="button" class="stergere" *ngIf="showButton2" (click)="deleteComenzi(data.id)">Stergere</button>
      </form>
  </ul>
  </form>

<div class="button-container">
  <button class="logoutButton" (click)="logout()">LogOut</button>
  </div>

