<div class="tab">
    <!-- <button class="tablinks" onmouseover="openCity(event, 'Medic')">Add medic</button> -->
    <!-- <button class="tablinks" onmouseover="openCity(event, 'Add')">Add pacient</button>
    <button class="tablinks" onmouseover="openCity(event, 'Tratment')">Add tratment</button>
    <button class="tablinks" onmouseover="openCity(event, 'Pacients')">Pacients list</button>
    <button class="tablinks" onmouseover="openCity(event, 'Medics')">Medics list</button> -->
    <button class="tablinks" (click)="showForm('form1')">Add medic</button>
    <button class="tablinks" (click)="showForm('form2')">Add pacient</button>
    <button class="tablinks" (click)="showForm('form3')">Add tratment</button>
    <button class="tablinks" (click)="showForm('form4')">Pacients list</button>
    <button class="tablinks" (click)="showForm('form5')">Medics list</button>
    
  </div>

  <form class="formAddMedic" *ngIf="showForm1">
    <div class="form1Fname">
      <label for="Fname">First Name: </label>
      <input id="Fname" type="text">
    </div>
   <div class="form1Lname">
    <label for="Lname">Last Name: </label>
    <input id="Lname" type="text">
   </div>
   <div class="form1dep">
    <label for="departament">Departament: </label>
    <input id="departament" type="text">
   </div>
  </form>

  <form  class="formAddPacient"  *ngIf="showForm2">
    
    <div class="form2Fname">
      <div>
        <label for="Fname">First Name: </label>
      </div>
     <div>
      <input id="firstnamef2" type="text">
     </div>
    </div>

    <div class="form2Lname">
      <label for="Lname">Last Name: </label>
      <input id="lastnamef2" type="text">
    </div>
    <div class="form2Varsta">
      <label for="varsta">Varsta: </label>
      <input id="varstaf2" type="number">
    </div>
    <div class="form2Cnp">
      <label for="CNP">CNP: </label>
      <input id="cnpf2" type="text">
    </div>
    <div class="form2Adr">
      <label for="adresa">Adresa: </label>
      <input id="adresaf2" type="text">
    </div>
    <div class="form2Profesie">
      <label for="profesie">Profesie: </label>
      <input id="profesief2" type="text">
    </div>
    <div class="form2LocMunca">
      <label for="loc_munca">Loc de munca: </label>
      <input id="loc_munca_f2" type="text">
    </div>
    <div class="form2NrTel">
      <label for="nr_tel">Numar de telefon: </label>
      <input id="nr_tel_f2" type="text">
    </div>
    <div class="form2CodPat">
      <label for="cod_pat">Codul patului: </label>
      <input id="cod_pat_f2" type="text">
    </div>
  </form>

  <form *ngIf="showForm3">
    <label for="name">Name: </label>
    <input id="name" type="text">
  </form>

  <form *ngIf="showForm4">
    <label for="name">Name: </label>
    <input id="name" type="text">
  </form>

  <form *ngIf="showForm5">
    <label for="name">Name: </label>
    <input id="name" type="text">
  </form>
  
  <!-- <div id="Medic" class="tabcontent">
    <h3>Add medic </h3>
    <p>Please complete the follows information for register a new medic: </p>
    <div>
  <div id="Add" class="tabcontent">
    <h3>Add pacient</h3>
    <p>Please complete the follows information for register a new pacient: </p>
  </div>
  
  <div id="Tratment" class="tabcontent">
    <h3>Add tratment </h3>
    <p>Please complete the follows information for register a new tratment: </p>
    <div>
  
  <div id="Pacients" class="tabcontent">
    <h3>Pacients lists</h3>
    <p>Pacients: </p>
  </div>
  <div id="Medics" class="tabcontent">
    <h3>Medics lists</h3>
    <p>Medics: </p>
  </div> -->
  