<div class="tab">
    <!-- <button class="tablinks" onmouseover="openCity(event, 'Medic')">Add medic</button> -->
    <!-- <button class="tablinks" onmouseover="openCity(event, 'Add')">Add pacient</button>
    <button class="tablinks" onmouseover="openCity(event, 'Tratment')">Add tratment</button>
    <button class="tablinks" onmouseover="openCity(event, 'Pacients')">Pacients list</button>
    <button class="tablinks" onmouseover="openCity(event, 'Medics')">Medics list</button> -->
    <button class="tablinks" (click)="showForm('form1')">Adaugare medic</button>
    <button class="tablinks" (click)="showForm('form2')">Adaugare pacient</button>
    <button class="tablinks" (click)="showForm('form3')">Adaugare tratament</button>
    <button class="tablinks" (click)="showForm('form4')">Lista de pacienti</button>
    <button class="tablinks" (click)="showForm('form5')">Lista de medici</button>
    <button class="tablinks" (click)="showTratament">Comenzi</button>
    
  </div>

  <form [formGroup]="contactForm" class="formAddMedic" *ngIf="showForm1">
    <div class="titlu">
      Va rugam completati datele urmatoare:
    </div>
    <div class="test">
      <div>
        <label>Nume: </label>
      </div>
      <div class="test2">
        <input type="text" formControlName="nume">
      </div>
    </div>

    

   <div class="test">
    <div>
      <label>Prenume: </label>
    </div>
    <div class="test2">
      <input type="text" formControlName="prenume">
    </div>
   </div>

   <div class="test">
    <div>
      <label>Departament: </label>
    </div>
    <div class="test2">
      <input type="text" formControlName="departament">
    </div>
   </div>
<div class="test">
  <div>
    <label>Varsta: </label>
 </div>
 <div class="test2">
    <input type="number" formControlName="varsta">
 </div>
</div>
<button type="reset" [disabled]="contactForm.invalid" class="button" (click)="submitAddMedic(contactForm.value)">Submit</button>
<p *ngIf="isSubmit" class="submitMedic" >{{ submitMessage }}</p>
</form>

  <form  class="formAddPacient"  *ngIf="showForm2">
    <div class="titlu">
      Va rugam completati datele urmatoare:
    </div>
    <div class="test">
      <div>
        <label>Nume: </label>
      </div>
     <div class="test2">
      <input type="text">
     </div>
    </div>

    <div class="test">
      <div>
        <label>Prenume: </label>
      </div>
      <div class="test2">
        <input type="text">
      </div>
    </div>

    <div class="test">
      <div>
        <label>Varsta: </label>
      </div>
      <div class="test2">
        <input type="number">
      </div>
    </div>

    <div class="test">
      <div>
        <label>CNP: </label>
      </div>
      <div class="test2">
        <input type="text">
      </div>
    </div>

    <div class="test">
      <div>
        <label>Adresa: </label>
      </div>
      <div class="test2">
        <input type="text">
      </div>  
    </div>

    <div class="test">
      <div>
        <label>Profesie: </label>
      </div>
      <div class="test2">
        <input type="text">
      </div>    
    </div>

    <div class="test">
      <div>
        <label>Loc de munca: </label>
      </div>
      <div class="test2">
        <input type="text">
      </div>    
    </div>

    <div class="test">
      <div>
        <label>Numar de telefon: </label>
      </div>
      <div class="test2">
        <input type="text">
      </div>   
    </div>

    <div class="test">
      <div>
        <label>Codul patului: </label>
      </div>
      <div class="test2">
        <input type="text">
      </div>     
    </div>

    <button type="submit" class="butt">Submit</button>
  </form>

  <form class="FormAddTratment" *ngIf="showForm3">
    <div class="titlu">
      Va rugam completati datele urmatoare:
    </div>
    <div class="test">
    <div>
      <label>Pacient: </label>
    </div>
    <div>
      <select>
        <option value="optiunea1">Optiunea 1</option>
        <option value="optiunea1">Optiunea 2</option>
        <option value="optiunea1">Optiunea 3</option>
      </select>
    </div>
  </div>
    <div class="test">
      <div>
        <label>Nume medicament: </label>
      </div>
      <div class="test2">
        <input type="text">
      </div>   
    </div>

    <div class="test">
      <div>
        <label>Administrare: </label>
      </div>
      <div class="test2">
        <input type="text"> 
      </div>
    </div>

    <div class="test">
      <div>
        <label for="durata">Durata tratamentului: </label>
      </div>
      <div class="test2">
        <input type="text">
      </div>
    </div>
    <div class="test">
      <label for="com">Comanda directa: </label>
      <input type="checkbox">
    </div>

    <button type="submit" class="but">Submit</button>
  </form>

  <form *ngIf="showForm4">
    <label for="name">Name: </label>
    <input id="name" type="text">
  </form>

  <form *ngIf="showForm5">
    <label for="name">Name: </label>
    <input id="name" type="text">
  </form>
  
  <!-- <div id="Medic" class="tabcontent">
    <h3>Add medic </h3>
    <p>Please complete the follows information for register a new medic: </p>
    <div>
  <div id="Add" class="tabcontent">
    <h3>Add pacient</h3>
    <p>Please complete the follows information for register a new pacient: </p>
  </div>
  
  <div id="Tratment" class="tabcontent">
    <h3>Add tratment </h3>
    <p>Please complete the follows information for register a new tratment: </p>
    <div>
  
  <div id="Pacients" class="tabcontent">
    <h3>Pacients lists</h3>
    <p>Pacients: </p>
  </div>
  <div id="Medics" class="tabcontent">
    <h3>Medics lists</h3>
    <p>Medics: </p>
  </div> -->
  