.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: rgb(130, 211, 211);
    width: 20%;
    height: 800px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
  }
  .formAddMedic{
    width: 30%;
    height: 400px;
    border: 3px solid;
    /* padding: 0px 20px 20px 20px; */
    margin-left: 600px;

  }
  .formAddPacient{
    width: 30%;
    height: 600px;
    border: 1px solid;
    margin-left: 600px;
  }
  .form1Fname{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .form1Lname{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .form1dep{
    margin-bottom: 20px;
  }
  .form2Fname{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .form2Lname{
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .form2Varsta{
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .form2Cnp{
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .form2Adr{
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .form2Profesie{
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .form2LocMunca{
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .form2CodPat{
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .form2NrTel{
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .FormAddTratment{
    width: 30%;
    height: 600px;
    border: 1px solid;
    margin-left: 600px;
  }