<div class="tab">
    <button class="tablinks" onmouseover="openCity(event, 'Medic')">Add medic</button>
    <button class="tablinks" onmouseover="openCity(event, 'Add')">Add pacient</button>
    <button class="tablinks" onmouseover="openCity(event, 'Tratment')">Add tratment</button>
    <button class="tablinks" onmouseover="openCity(event, 'Pacients')">Pacients list</button>
    <button class="tablinks" onmouseover="openCity(event, 'Medics')">Medics list</button>
  </div>
  
  <div id="Medic" class="tabcontent">
    <h3>Add medic </h3>
    <p>Please complete the follows information for register a new medic: </p>
    <div>
  <div id="Add" class="tabcontent">
    <h3>Add pacient</h3>
    <p>Please complete the follows information for register a new pacient: </p>
  </div>
  
  <div id="Tratment" class="tabcontent">
    <h3>Add tratment </h3>
    <p>Please complete the follows information for register a new tratment: </p>
    <div>
  
  <div id="Pacients" class="tabcontent">
    <h3>Pacients lists</h3>
    <p>Pacients: </p>
  </div>
  <div id="Medics" class="tabcontent">
    <h3>Medics lists</h3>
    <p>Medics: </p>
  </div>
  