<router-outlet></router-outlet>
<FORM>
  <div class="background-IMG">
  </div>
  <div class="username">
    <label>Nume utilizator:</label>
  </div>
    <div class="label1">
      <input type="email" [(ngModel)]="username">
    </div>
  <div class="pass">
    <label>Parola:</label>
    </div>
    <div class="label2">
      <input type="password" [(ngModel)]="password">
    </div>
  <div class="remember">
<input type="checkbox" name="remember">
<label>
   
  </label>
  </div>
  <div class="forgot-password">
Forgot password?
  </div>
  <div class="login">
  <button type="submit" class="button" (click)="login()">Login</button>
  </div>
</FORM>
