<router-outlet></router-outlet>
<FORM>
  <div class="background-IMG">
  </div>
  <div class="username">
    <label>username</label>
  </div>
    <div class="label1">
      <input type="text">
    </div>
  <div class="pass">
    <label>password</label>
    <input type="password">
  </div>
  <div class="remember">
<input type="checkbox" name="remember">
<label>
   Remember Me
  </label>
  </div>
  <div class="forgot-password">
Forgot password ?
  </div>
  <div class="login">
  <button type="submit" (click)="goToMenu()">Login</button>
  </div>
</FORM>
